section.menu{
    align-items: center;
    border-bottom: solid var(--cor-da-linha) 1px;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
}

.menu__titulo {
    display: flex;
    align-items: center;
}

.menu__title__text {
    margin-left: 1rem;
}

.menu__list {
    display: flex;
}

.menu__list__item {
    margin-left: 2rem;
}

/*Tablet*/
@media screen and (max-width: 1023px) {
    .menu__list__item {
        display: none;
    }

    .menu__list__item-contato {
        display: block;
        font-weight: bold;
    }
}